@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
 Regular 400 
 Medium 500 
 SemiBold 600 
 ExtraBold 800 
*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;

    font-family: "Montserrat", serif;
    color: #d9d9d9;

    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;



    background-color: #121517;
}

h1, h2 { 
    font-weight: 800;
}

a{
    color: #d9d9d9;
    text-decoration: none;
}

.container {
    min-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-gradient{
background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.header {
    padding: 50px 0;
}

.header .container {
    display: flex;
    align-items: baseline;
    gap: 95px;
}

.logo {
    font-weight: 800;
    font-size: 37px;
    letter-spacing: -0.03em;
}

.header__link + .header__link {
    margin-left: 95px;
}

.main {

}
.welcome {

}
.container {

}
.title {
font-size: 80px;
line-height: 109%;
letter-spacing: -0.03em;
color: #fff;
}
.welcome__title {
    margin-bottom: 55px;
}
.welcome__text {
    margin-bottom: 55px;
}
.welcome__btns-wrapper {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 20px 80px;

    border-radius: 83px;
    background: linear-gradient(210deg, #237249 0%, #35c66b 100%);

    font-weight: 639;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #fff;
}
.link {
    padding: 20px 55px;

    border: 1.02px solid #dadada;
    border-radius: 83px;

    background: #121517;

    font-size: 24px;
    letter-spacing: -0.03em;
}
.stats {

}
.stats__item {

}
.welcome__img-wrapper {

}
.welcome__img {

}