@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
 Regular 400 
 Medium 500 
 SemiBold 600 
 ExtraBold 800 
*/

body {
    margin: 0;

    font-family: "Montserrat", serif;
    color: #d9d9d9;

    background-color: #121517;
}

h1, h2 {
    font-weight: 800;
}